{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Senior Citizen MIS</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css" integrity="sha512-/k658G6UsCvbkGRB3vPXpsPHgWeduJwiWGPCGS14IQw3xpr63AEMdA8nMYG2gmYkXitQxDTn6iiK/2fD4T87qA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- plugins:css -->

    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
    {% include 'views/nav.html' %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Register an Data Profiling </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Register</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Data Profiling</li>
                </ol>
              </nav>
            </div>
            
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                 
                    <h1>Input Credentials</h1>
                    <form method="post">
                      {% csrf_token %}
                      <div class="form-group">
                          <label for="id_address">Address</label>
                          <input type="text" class="form-control" id="id_address" name="address" value="{{ form.address.value }}">
                          {% if form.address.errors %}
                              <div class="text-danger">{{ form.address.errors }}</div>
                          {% endif %}
                      </div>
                      <div class="form-group">
                          <label for="id_gender">Gender</label>
                          <select class="form-control" id="id_gender" name="gender">
                              <option value="">---------</option>
                              <option value="Male" {% if form.gender.value == 'Male' %}selected{% endif %}>Male</option>
                              <option value="Female" {% if form.gender.value == 'Female' %}selected{% endif %}>Female</option>
                          </select>
                          {% if form.gender.errors %}
                              <div class="text-danger">{{ form.gender.errors }}</div>
                          {% endif %}
                      </div>
                      <div class="form-group">
                          <label for="id_age">Age</label>
                          <input type="number" class="form-control" id="id_age" name="age" value="{{ form.age.value }}">
                          {% if form.age.errors %}
                              <div class="text-danger">{{ form.age.errors }}</div>
                          {% endif %}
                      </div>
                      <div class="form-group">
                          <label for="id_lifestyle_diet">Diet</label>
                          <input type="checkbox" id="id_lifestyle_diet" name="lifestyle_diet" {% if form.lifestyle_diet.value %}checked{% endif %}>
                          {% if form.lifestyle_diet.errors %}
                              <div class="text-danger">{{ form.lifestyle_diet.errors }}</div>
                          {% endif %}
                      </div>
                      <div class="form-group">
                          <label for="id_lifestyle_exercise">Exercise</label>
                          <input type="checkbox" id="id_lifestyle_exercise" name="lifestyle_exercise" {% if form.lifestyle_exercise.value %}checked{% endif %}>
                          {% if form.lifestyle_exercise.errors %}
                              <div class="text-danger">{{ form.lifestyle_exercise.errors }}</div>
                          {% endif %}
                      </div>
                      <div class="form-group">
                          <label for="id_lifestyle_others">Other Lifestyle Factors</label>
                          <input type="text" class="form-control" id="id_lifestyle_others" name="lifestyle_others" value="{{ form.lifestyle_others.value }}">
                          {% if form.lifestyle_others.errors %}
                              <div class="text-danger">{{ form.lifestyle_others.errors }}</div>
                          {% endif %}
                      </div>
                      <div class="form-group">
                          <label for="id_medical_history_past_illness">Past Illness</label>
                          <textarea class="form-control" id="id_medical_history_past_illness" name="medical_history_past_illness">{{ form.medical_history_past_illness.value }}</textarea>
                          {% if form.medical_history_past_illness.errors %}
                              <div class="text-danger">{{ form.medical_history_past_illness.errors }}</div>
                          {% endif %}
                      </div>
                      <div class="form-group">
                          <label for="id_medical_history_treatments">Treatments</label>
                          <textarea class="form-control" id="id_medical_history_treatments" name="medical_history_treatments">{{ form.medical_history_treatments.value }}</textarea>
                          {% if form.medical_history_treatments.errors %}
                              <div class="text-danger">{{ form.medical_history_treatments.errors }}</div>
                          {% endif %}
                      </div>
                      <div class="form-group">
                          <label for="id_medical_history_ongoing_medications">Ongoing Medications</label>
                          <textarea class="form-control" id="id_medical_history_ongoing_medications" name="medical_history_ongoing_medications">{{ form.medical_history_ongoing_medications.value }}</textarea>
                          {% if form.medical_history_ongoing_medications.errors %}
                              <div class="text-danger">{{ form.medical_history_ongoing_medications.errors }}</div>
                          {% endif %}
                      </div>
                      <div class="form-group">
                          <label for="id_medical_history_checkups">Checkups</label>
                          <textarea class="form-control" id="id_medical_history_checkups" name="medical_history_checkups">{{ form.medical_history_checkups.value }}</textarea>
                          {% if form.medical_history_checkups.errors %}
                              <div class="text-danger">{{ form.medical_history_checkups.errors }}</div>
                          {% endif %}
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <a href="{% url 'data_profiling' %}" class="btn btn-light">Cancel</a>
                  </form>
                  
                  
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'vendors/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
     <script src="{% static 'js/misc.js' %}"></script><script>
        document.addEventListener('DOMContentLoaded', function() {
            var username = "{{ username }}";
            if (username === 'Guest') {
                window.location.href ='login'; alert('Login is required.'); 
            }
        });
    </script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'js/file-upload.js' %}"></script>
    <script src="{% static 'js/typeahead.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>