{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Senior Citizen  - Send SMS</title>
 <!-- jQuery library -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 <!-- Select2 CSS and JS -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
 <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css" integrity="sha512-/k658G6UsCvbkGRB3vPXpsPHgWeduJwiWGPCGS14IQw3xpr63AEMdA8nMYG2gmYkXitQxDTn6iiK/2fD4T87qA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />

    <style>
      .filter-container {
          margin-bottom: 20px;
      }
  
      .filter-options {
          display: flex;
          align-items: center;
          gap: 10px; /* Spacing between elements */
          flex-wrap: wrap; /* Allow elements to wrap to the next line if space is constrained */
      }
  
      .filter-options label {
          margin-right: 5px; /* Add space between label and input */
      }
  
      .filter-options .form-control {
          width: 150px; /* Adjust the width of inputs/selects */
      }
  
      .filter-options input,
      .filter-options select {
          flex: 1;
      }
  
      #filterBtn {
          margin-top: 10px; /* Adds space above the button */
      }
  </style>
  </head>
  <body>
    
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      {% include 'views/nav.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
       
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Register an SMS </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Register</a></li>
                  <li class="breadcrumb-item active" aria-current="page">SMS</li>
                </ol>
              </nav>
            </div>
            
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body" style="color: black">
                 
                    <div class="filter-container">
                      <hr>
                      <h3>Filter Options</h3>
                  
                      <!-- Wrapper for filter inputs and dropdown -->
                      <div class="filter-options">
                          <label for="ageFilter">Age: </label>
                          <input type="number" id="ageFilter" class="form-control" placeholder="Enter age" />
                  
                          <label for="genderFilter">Gender: </label>
                          <select id="genderFilter" class="form-control">
                              <option value="">All</option>
                              <option value="Female">Female</option>
                              <option value="Male">Male</option>
                          </select>
                  
                          <label for="addressFilter">Address: </label>
                          <input type="text" id="addressFilter" class="form-control" placeholder="Enter address" />
                      </div>
                  
                      <!-- Filter Button -->
                      <button id="filterBtn" class="btn btn-primary" onclick="filterData()">Filter</button>
                  
                      <hr>
                  </div>
                    <h1>Input Credentials</h1>
                    <form method="post">
                      {% csrf_token %}
                      <div class="form-group">
                          <label for="id_recipient_phone">Recipient Phone</label>
                          <select class="form-control" id="id_recipient_phone" name="recipient_phone" multiple>
                          {% for senior in seniors %}
                          <option value="{{ senior.phone }}" hidden>{{ senior.first_name }} {{ senior.last_name }} | Phone: {{ senior.phone }}  | Age: {{ senior.age }} | Gender: {{ senior.gender }} | Address: {{ senior.address }}</option>
                           {% endfor %} 
                          </select >

                          {% if form.recipient_phone.errors %}
                              <div class="text-danger">{{ form.recipient_phone.errors }}</div>
                          {% endif %}
                      </div>
                      <div class="form-group">
                          <label for="id_message">Message</label>
                          <textarea class="form-control" id="id_message" name="message">{{ form.message.value }}</textarea>
                          {% if form.message.errors %}
                              <div class="text-danger">{{ form.message.errors }}</div>
                          {% endif %}
                      </div>
                      <div class="form-group">
                          <label for="id_sent_by">Sent By</label>
                       
                          <input type="text" class="form-control"  id="id_sent_by" name="sent_by" value="{{ user_type }}" readonly>
                          {% if form.sent_by.errors %}
                              <div class="text-danger">{{ form.sent_by.errors }}</div>
                          {% endif %}
                      </div>
                      <div class="form-group">
                          <label for="id_sender_id">Sender ID</label>
                          <input type="number" class="form-control" id="id_sender_id" name="sender_id" value="{{ user_id }}" readonly>
                          {% if form.sender_id.errors %}
                              <div class="text-danger">{{ form.sender_id.errors }}</div>
                          {% endif %}
                      </div>
                      <div class="form-group" style="display: none;">
                        <label for="id_code">Status</label>
                        <input type="text" class="form-control" id="status" name="status" value="{{ form.status.value }}">
                      </div>
                      <button type="submit" class="btn btn-primary mr-2" onclick="alert('SMS Sent Successfully')">Submit</button>
                      <a href="{% url 'smsnotifications' %}" class="btn btn-light">Cancel</a>
                  </form>
                  
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

    <script>
      function filterData() {
        var ageFilter = $('#ageFilter').val();
        var genderFilter = $('#genderFilter').val().toLowerCase();
        var addressFilter = $('#addressFilter').val().toLowerCase();
    
        $('#id_recipient_phone option').each(function() {
            var optionText = $(this).text().toLowerCase();
            
            // Extract age, gender, and address from the option text using regular expressions
            let regex = /age: (\d+)\s+\| gender: (\w+)\s+\| address: (.+)/;
            let match = optionText.match(regex);
    
            // If match is found, extract values, else skip this option
            if (match) {
                var age = match[1];
                var gender = match[2].toLowerCase();
                var address = match[3].toLowerCase();

                
                // Apply filters
                var isAgeMatch = ageFilter ? (parseInt(age) == ageFilter) : true;
                var isGenderMatch = genderFilter ? (gender == genderFilter) : true;
                var isAddressMatch = addressFilter ? (address.includes(addressFilter)) : true;
                
                // Determine if this option should be shown or hidden based on filter conditions
                if (isAgeMatch&& isGenderMatch && isAddressMatch) {
                    $(this).show();  // Show matching option
                } else {
                    $(this).remove();  // Hide non-matching option
                }
            } else {
                $(this).remove();  // Hide options that don't match the expected format
            }
        });
    
        // Trigger a Select2 update to refresh the options
        $('#id_recipient_phone').trigger('change');
    }
    
    
    
    
    
  </script>
    <script>
      $(document).ready(function() {
        $('#id_recipient_phone').select2({
          placeholder: "Select options",
          allowClear: true
        });
      });
    </script>
    
    <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- endinject -->

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
     <script src="{% static 'js/misc.js' %}"></script>
     <script>
        document.addEventListener('DOMContentLoaded', function() {
            var username = "{{ username }}";
            if (username === 'Guest') {
                window.location.href ='login'; alert('Login is required.'); 
            }
        });
    </script>

    
    <!-- endinject -->
    <!-- Custom js for this page -->

    <!-- End custom js for this page -->
  </body>
</html>