{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Senior Citizen  - Send SMS</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css" integrity="sha512-/k658G6UsCvbkGRB3vPXpsPHgWeduJwiWGPCGS14IQw3xpr63AEMdA8nMYG2gmYkXitQxDTn6iiK/2fD4T87qA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- plugins:css -->

    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      {% include 'views/nav.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
       
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Register an SMS </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Register</a></li>
                  <li class="breadcrumb-item active" aria-current="page">SMS</li>
                </ol>
              </nav>
            </div>
            
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                   <div class="card-body" style="color: black">
                 
                    <h1>Input Credentials</h1>
                    <form method="post">
                      {% csrf_token %}
                  
                      <div class="form-group">
                          <label for="id_message">Message</label>
                          <textarea class="form-control" id="id_message" name="message">{{ form.message.value }}</textarea>
                          {% if form.message.errors %}
                              <div class="text-danger">{{ form.message.errors }}</div>
                          {% endif %}
                      </div>
                  
                      <div class="form-group">
                          <label for="id_sent_by">Sent By</label>
                          <input type="text" class="form-control"  id="id_sent_by" name="sent_by" value="{{ user_type }}" readonly>
                          {% if form.sent_by.errors %}
                              <div class="text-danger">{{ form.sent_by.errors }}</div>
                          {% endif %}
                          {% if form.sent_by.errors %}
                              <div class="text-danger">{{ form.sent_by.errors }}</div>
                          {% endif %}
                      </div>
                  
                      <div class="form-group">
                          <label for="id_sender_id">Sender ID</label>
                          <input type="number" class="form-control" id="id_sender_id" name="sender_id" value="{{ user_id }}" readonly>
                          {% if form.sender_id.errors %}
                              <div class="text-danger">{{ form.sender_id.errors }}</div>
                          {% endif %}
                      </div>
                  
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <a href="{% url 'smsnotifications' %}" class="btn btn-light">Cancel</a>
                  </form>
                  
                  
                  
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'vendors/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
     <script src="{% static 'js/misc.js' %}"></script><script>
        document.addEventListener('DOMContentLoaded', function() {
            var username = "{{ username }}";
            if (username === 'Guest') {
                window.location.href ='login'; alert('Login is required.'); 
            }
        });
    </script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'js/file-upload.js' %}"></script>
    <script src="{% static 'js/typeahead.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>